.faq {
  padding: 140px 0 130px;
  margin-top: 100px;
  background-color: rgba($color-light, .2);
}

.faq-inner {
  @include inner;
}

.faq-title {
  @include section-title;
}

.faq-accordion {
  margin-top: 40px;
  box-shadow: 0px 0px 8px rgba($color-orange, 0.2);
  border-radius: 4px;
}

.faq-btn {
  display: block;
  width: 100%;
  padding: 30px;
  font-family: $font-ral;
  font-weight: 300;
  text-align: left;
  font-size: 36px;
  line-height: 42px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  i {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
  }

  &.open {
    i {
      background-color: green;
    }
  }
}

.faq-answear {
  display: none;
  padding: 0 30px 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}
