.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 25px 0;
  color: $color-light;
  background-color: $color-dark;
}

.header-inner {
  @include inner;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  font-family: $font-ral;
  font-weight: 300;
  font-size: 42px;
  line-height: 49px;
  color: inherit;
  text-decoration: none;
}

.menu {
  @media (max-width: $tablet-max) {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 20px;
    background-color: $color-dark;
    border-top: 1px solid $color-light;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    @media (max-width: $tablet-max) {
      justify-content: center;
    }

    @media (max-width: $mobile-max) {
      display: block;
      text-align: center;
    }
  }

  li {
    margin: 0 15px;

    @media (max-width: $mobile-max) {
      margin: 20px 0;
    }
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 24px;
    line-height: 33px;

    @media (max-width: $mobile-max) {
      font-size: 20px;
      line-height: 27px;
    }

    &:hover {
      color: $color-orange;
    }
  }
}

.header-phone {
  flex-shrink: 0;
  margin-left: 85px;
  font-size: 24px;
  line-height: 33px;
  color: inherit;
  text-decoration: none;

  @media (max-width: $mobile-max) {
    display: none;
  }
}

.header-btn {
  display: none;

  @media (max-width: $tablet-max) {
    display: block;
  }
}
