// Fonts
$font-ral: 'Raleway', sans-serif;
$font-open: 'Open Sans', sans-serif;

// colors
$color-dark: #152b3c;
$color-light: #fbf2da;
$color-orange: #D46240;

// indents
$gap: 30px;
$gap-half: calc($gap / 2);

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$mobile-max: $tablet - 1;
$tablet-max: $desktop - 1;
